:root {
  --sky-blue: #00bfff;
  // --b3-theme-background: #000;
}
html[data-enhancer="true"] {
  .protyle-wysiwyg [data-node-id] span[data-type~=block-ref] {
    color: var(--sky-blue);
  }

  // 反链列表项的提示效果
  // .protyle-wysiwyg [data-node-id].li[fold="1"] > .protyle-action:after {
  //   background-color: var(--b3-list-hover, #363636);
  // }


  // #region 反链面板文档名称sticky
  // .backlinkMList .b3-list-item,
  // .backlinkList .b3-list-item {
  //     --b3-theme-primary-lightest: rgba(53, 115, 240, 1);
  //     position: sticky;
  //     top: 0;
  //     z-index: 2;
  //     background-color: var(--b3-list-hover, #363636);
  // }
  // #endregion 反链面板文档名称sticky


  // #region 文档反链增加 [[]]
  .protyle-wysiwyg [data-node-id] span[data-type="block-ref"] {
    font-weight: inherit;
    background-color: transparent !important;
    border-bottom: none !important;
  }

  /* 为引用块后面增加引用图标 */
  .protyle-wysiwyg [data-node-id] span[data-type="block-ref"]::before {
    color: var(--b3-theme-on-surface) !important;
    content: "[[";
  }

  .protyle-wysiwyg [data-node-id] span[data-type="block-ref"]::after {
    color: var(--b3-theme-on-surface) !important;
    content: "]]";
  }

  .protyle-wysiwyg [data-node-id] span[data-type="block-ref"]:hover {
    background-color: var(--b3-theme-primary-lightest) !important;
  }
  // #endregion 文档反链增加 [[]]

}

html[data-enhancer-enable-block-time="true"] {
  --topPos: 3px;
  --timeFontSize: 9px;
  --letterSpacing: 3px;
  --rightPos: 0px;
  --v-divider-color: var(--sky-blue);

  div[data-type="NodeParagraph"],
  div[data-type="NodeHeading"],
  div[data-type="NodeTable"]
  {

    padding-top: calc(var(--timeFontSize)) !important;

    &[updated]::before,
    &[updated]::after {
      position: absolute;
      height: var(--timeFontSize);
      right: var(--rightPos);
      top: var(--topPos);
      font-size: var(--timeFontSize);
      line-height: var(--timeFontSize);

      font-family: monospace;

      display: flex;
      justify-content: flex-end;

      color: #d1d1d1;
      font-weight: normal;
    }
    &[updated]::before {
      content: attr(data-en-updated);
    }
    &[updated]::after {
      content: attr(data-en-updated-format);
      white-space: pre;
      color: var(--v-divider-color);
    }
  }

  div[data-type="NodeListItem"] {
    padding-top: calc(var(--timeFontSize)) !important;
    --topPos: calc(var(--timeFontSize) * -1);

    & .protyle-action {
      top: calc(var(--timeFontSize) / 2) !important;
    }

    & div[data-type="NodeParagraph"],
    & div[data-type="NodeHeading"],
    & div[data-type="NodeTable"] {
      --rightPos: -4px;
      padding-top: unset !important;
    }
  }
}
