


// #region 修改奥德赛配色

// :root {
//   --b3-theme-background: #0b0e0c !important;
//   --b3-theme-surface: #0b0e0c !important;
//   --O-toolbar-background: #0b0e0c !important;
//   --O-dock-background: #0b0e0c !important;
//   --O-tabbar-background: #0b0e0c !important;
//   --O-list-counter: var(--sky-blue-blur) !important;
//   --O-list-background-activefocus: var(--sky-blue-blur) !important;
//   --b3-scroll-color: #1C1C1C !important;
//   --b3-theme-primary: var(--sky-blue) !important;
//   --b3-theme-primary-light: var(--sky-blue-blur) !important;
//   --b3-theme-primary-lighter: var(--sky-blue-blur) !important;
//   --b3-theme-primary-lightest: var(--sky-blue-blur) !important;
// }

// .layout-tab-bar .item:not(.item--readonly):hover,
// .layout-tab-bar .item--focus {
//   background-color: #363636 !important;
// }

// .layout__resize--lr.layout__resize {
//   background-color: black !important;
//   width: 6px;
// }

// // body > .fn__flex-1.fn__flex {
// //   padding-bottom: 32px;
// // }

// // #status {
// //   background-color: #1C1C1C !important;
// //   position: fixed;
// //   bottom: 6px;
// //   right: 6px;
// //   border-radius: 12px;
// // }

// .b3-slider {
//   // background-color: var(--sky-blue);
//   &::-webkit-slider-runnable-track {
//     background: var(--sky-blue-blur);
//   }

//   &::-webkit-slider-thumb {
//     -webkit-appearance: none;
//     box-shadow: 0px 0px 0px 3px var(--b3-theme-primary) ;
//   }
// }

// .protyle-attr--refcount.popover__block {
//   background-color: var(--sky-blue-blur);
// }

// .protyle-gutters button svg {
//   color: color-mix(in srgb,var(--b3-theme-on-background) 60%, transparent);
// }

// #endregion 修改奥德赛配色

[data-type="img"] {
  display: inline-block !important;
  width: 50%;
}
