name: Copy Release from RepoA to RepoB

on:
  release:
    types: [published]
    repository:
      - owner: wetoria
        repo: sy-plugin-enhance-codes

jobs:
  copy_release:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Get latest release information from repoA
      id: get_release
      run: |
        release_info=$(curl -sSL https://api.github.com/repos/wetoria/sy-plugin-enhance-codes/releases/latest)
        echo "::set-output name=tag_name::$(echo $release_info | jq -r '.tag_name')"
        echo "::set-output name=release_name::$(echo $release_info | jq -r '.name')"
        echo "::set-output name=release_body::$(echo $release_info | jq -r '.body')"
        echo "::set-output name=assets::$(echo $release_info | jq -r '.assets | map(.browser_download_url) | join("\n")')"

    - name: Create release on repoB
      id: create_release
      uses: actions/github-script@v5
      with:
        script: |
          const github = context.octokit;
          const owner = 'wetoria'; // 公有仓库 B 的拥有者
          const repo = 'sy-plugin-enhance'; // 公有仓库 B 的名称
          const { tag_name, release_name, release_body } = github.context.payload.release;
          const { data: release } = await github.repos.createRelease({
            owner,
            repo,
            tag_name,
            name: release_name,
            body: release_body,
            draft: false,
            prerelease: false
          });

          // 上传 release assets
          const assets = "${{ steps.get_release.outputs.assets }}".split("\n");
          for (const asset_url of assets) {
            const asset_name = asset_url.split('/').pop();
            const response = await github.repos.uploadReleaseAsset({
              owner,
              repo,
              release_id: release.data.id,
              name: asset_name,
              data: await (await fetch(asset_url)).blob()
            });
            console.log(response);
          }
      env:
        GITHUB_TOKEN: ${{ secrets.CUSTOM_TOKEN }}
