name: Copy File to Public Repo

on: push

jobs:
  copy-file:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Pushes test file
      uses: dmnemec/copy_file_to_another_repo_action@main
      env:
        API_TOKEN_GITHUB: ${{ secrets.CUSTOM_TOKEN }}
      with:
        source_file: 'README.md'
        destination_repo: 'wetoria/sy-plugin-enhance'
        user_email: 'bot@wetoria.me'
        user_name: 'GithubActions'
        commit_message: 'copy private file to public'
