name: Create Release on Tag Push

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Checkout
      - name: Checkout
        uses: actions/checkout@v3

      # Install Node.js
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: "https://registry.npmjs.org"

        # Install pnpm
      - name: Install pnpm
        uses: pnpm/action-setup@v2
        id: pnpm-install
        with:
          version: 8
          run_install: false

      # Get pnpm store directory
      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      # Setup pnpm cache
      - name: Setup pnpm cache
        uses: actions/cache@v3
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      # Install dependencies
      - name: Install dependencies
        run: pnpm install

      # Build for production, 这一步会生成一个 package.zip
      - name: Build for production
        run: pnpm build

      - name: Release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifactErrorsFailBuild: true
          artifacts: "package.zip"
          token: ${{ secrets.GITHUB_TOKEN }}
          prerelease: false
      - name: Get latest release information from repoA
        id: get_release
        run: |
          release_info=$(curl -sSL https://api.github.com/repos/wetoria/sy-plugin-enhance-codes/releases/latest)
          echo "::set-output name=tag_name::$(echo $release_info | jq -r '.tag_name')"
          echo "::set-output name=release_name::$(echo $release_info | jq -r '.name')"
          echo "::set-output name=release_body::$(echo $release_info | jq -r '.body')"
          echo "::set-output name=assets::$(echo $release_info | jq -r '.assets | map(.browser_download_url) | join("\n")')"

      - name: Create release on repoB
        id: create_release
        uses: actions/github-script@v5
        with:
          script: |
            const githubTemp = context.octokit;
            const owner = 'wetoria'; // 公有仓库 B 的拥有者
            const repo = 'sy-plugin-enhance'; // 公有仓库 B 的名称
            const { tag_name, release_name, release_body } = githubTemp.context.payload.release;
            const { data: release } = await githubTemp.repos.createRelease({
              owner,
              repo,
              tag_name,
              name: release_name,
              body: release_body,
              draft: false,
              prerelease: false
            });

            // 上传 release assets
            const assets = "${{ steps.get_release.outputs.assets }}".split("\n");
            for (const asset_url of assets) {
              const asset_name = asset_url.split('/').pop();
              const response = await githubTemp.repos.uploadReleaseAsset({
                owner,
                repo,
                release_id: release.data.id,
                name: asset_name,
                data: await (await fetch(asset_url)).blob()
              });
              console.log(response);
            }
        env:
          GITHUB_TOKEN: ${{ secrets.CUSTOM_TOKEN }}
