name: Create Release on Tag Push

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Checkout
      - name: Checkout
        uses: actions/checkout@v3

      # Install Node.js
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
          registry-url: "https://registry.npmjs.org"

        # Install pnpm
      - name: Install pnpm
        uses: pnpm/action-setup@v2
        id: pnpm-install
        with:
          version: 8
          run_install: false

      # Get pnpm store directory
      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      # Setup pnpm cache
      - name: Setup pnpm cache
        uses: actions/cache@v3
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      # Install dependencies
      - name: Install dependencies
        run: pnpm install

      # Build for production, 这一步会生成一个 package.zip
      - name: Build for production
        run: pnpm build

      - name: Release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifactErrorsFailBuild: true
          artifacts: "package.zip"
          token: ${{ secrets.GITHUB_TOKEN }}
          prerelease: false

      - name: Create release on repoB
        id: create_release
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.CUSTOM_TOKEN }}
          script: |
            const owner = 'wetoria';
            const originRepo = 'sy-plugin-enhance-codes';
            const repo = 'sy-plugin-enhance';
            const {
              data: {
                tag_name,
                name: release_name,
                body: release_body,
                assets,
              }
            } = await github.rest.repos.getLatestRelease({
              owner,
              repo: originRepo,
            });
            console.log('assets is ', assets);
            const { data: release } = await github.rest.repos.createRelease({
              owner,
              repo,
              tag_name,
              name: release_name,
              body: release_body,
              draft: false,
              prerelease: false
            });
            console.log('release is ', release);
            for (const asset of assets) {
              const asset_url = asset.browser_download_url;
              const asset_name = asset_url.split('/').pop();
              const file = await fetch(asset_url);
              console.log('file is ', file);
              const response = await github.rest.repos.uploadReleaseAsset({
                owner,
                repo,
                release_id: release.id,
                name: asset_name,
                data: file
              });
              console.log(response);
            }

